@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');
@import 'bootstrap.rtl.min.css';
@import 'bootstrap-sass/_functions.scss';
@import 'bootstrap-sass/_variables.scss';
@import 'bootstrap-sass/mixins/_breakpoints.scss';
@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_utils.scss';
@import 'base/_rtlconstant.scss';
@import 'modules/_typography.scss';
@import 'modules/_components.scss';
@import 'modules/_buttons.scss';
@import 'layout/_header.scss';
@import 'layout/_footer.scss';
@import 'layout/_form.scss';
@import 'modules/font-type';
@import 'base/_style.scss';
@import 'base/_other.scss';
@import 'base/_diff-rtl.scss';
