.swiper-button-next, .swiper-button-prev {
  transform: translateY(-50%) scaleX(-1);
}

.hero-swiper .slider-img-container:before {
  background: linear-gradient(259.04deg, rgba(0, 0, 0, 0.7) 43.27%, rgba(0, 0, 0, 0) 94.9%);
}

.swiper-gallery-nav-inner {
  svg {
    transform: scaleX(-1);
  }
}

.one-per-month-arrow {
  transform: scaleX(-1);
}

[type=email], [type=number], [type=tel], [type=url] {
  direction: rtl;
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  right: 0;
    left: auto;
}
.filter-select{
  padding: 0.375rem 1rem 0.375rem 2.5rem;
}
.donation-progressbar .progress-bar span{
  transform: translateX(-50%);
}

.country-select .selected-flag .arrow{ right: calc(100% - 14px) !important;}
.country-select .selected-flag{
  padding: 0 8px 0 0;
}
.country-select .country-list .flag{
  margin-right: 0;
  margin-left: 6px;
}
.country-select .country-list .country{
  text-align: right;
}
.country-select.inside .flag-dropdown{
  right: 0;
  left: auto;
}
.country-select.inside input, .country-select.inside input[type=text]{
  padding-right: 52px;
  padding-left: 6px;
}
