body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: $base-font-size;
  //line-height: 1.3;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-align: #{$dir};

  &.header-is-fixed {
    padding-top: 130px;
    @include media-breakpoint-down(lg) {
      padding-top: 71px;
    }

    &.pages-header-fixed {
      padding-top: 108px;
      @include media-breakpoint-down(lg) {
        padding-top: 71px;
      }
    }
  }
}
html{
  direction: #{if($dir == 'right', 'ltr', 'rtl')};
}
//html[dir="rtl"] {
//  body {
//    font-family: 'Tajawal', sans-serif;
//  }
//}

.container-content {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  //max-width: 1500px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1500px;
  }
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
