.btn {
  line-height: 1;
  border-radius: 8px;

  &:focus {
    box-shadow: none !important;
  }

  transition: all ease-in-out 0.3s;
}

%btn-comfig {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 6px;
  transition: all ease-in-out 0.3s;
  border: 1px solid transparent;

  &:disabled {
    cursor: not-allowed;
  }

  //
  //@include media-breakpoint-down(sm) {
  //  font-size: 14px;
  //}
}

.main-btn {
  @extend %btn-comfig;
  background-color: $yellow-color;
  border-color: $yellow-color;
  color: $black-color;

  &:hover {
    background-color: #fff;
    color: $yellow-color;
  }
}

.main-btn-2 {
  @extend .main-btn;
  color: white;

  &:hover {
    background-color: $green-color;
    color: white;
    border-color: $green-color;
  }
}

.light-green-btn {
  @extend %btn-comfig;
  background-color: $light-green-color;
  border-color: $light-green-color;
  color: #fff;

  &:hover {
    background-color: $green-color;
    border-color: $green-color;
    color: $white-color;
  }
}

.green-btn {
  @extend %btn-comfig;
  background-color: $green-color;
  border-color: $green-color;
  color: #fff;

  &:hover {
    background-color: $yellow-color;
    border-color: $yellow-color;
    color: $white-color;
  }
}

.dark-green-btn {
  @extend %btn-comfig;
  background-color: $dark-green;
  border-color: $dark-green;
  color: #fff;

  &:hover {
    background-color: $yellow-color;
    border-color: $yellow-color;
    color: $white-color;
  }

  &.white-hover {
    &:hover {
      background-color: $white-color;
      border-color: $white-color;
      color: $dark-green;
    }
  }
}

.white-btn {
  @extend %btn-comfig;
  background-color: white;
  border-color: white;
  color: $black-color;

  &:hover {
    background-color: $green-color;
    border-color: $green-color;
    color: $white-color;
  }
}

.white-btn-hover-2 {
  @extend .white-btn;

  &:hover {
    background-color: $yellow-color;
    border-color: $yellow-color;
    color: $black-color;

    svg {
      path {
        fill: $black-color;
      }
    }
  }
}

.white-btn-border {
  @extend %btn-comfig;
  background-color: transparent;
  border-color: #E7E7E7;
  color: $black-color;

  &:hover {
    background-color: $black-color;
    border-color: $black-color;
    color: white;
  }
}

.gray-btn {
  @extend %btn-comfig;
  background-color: #F5F8FA;
  border-color: #F5F8FA;
  color: #A1A5B7;

  &:hover {
    background-color: $yellow-color;
    border-color: $yellow-color;
    color: $black-color;
  }
}

.add-to-cart-btn {
  height: 42px;

  svg {
    path {
      transition: all ease-in-out 0.3s;
    }
  }

  &:hover {
    path {
      fill: $yellow-color;
    }
  }
}

.link-1 {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: $yellow-color;
    text-decoration: underline;
  }
}

.link-2 {
  color: $black-color;
  text-decoration: underline;

  &:hover {
    color: $yellow-color;
    text-decoration: underline;
  }
}

.link-3 {
  font-size: 17px;
  font-weight: 500;
  color: rgba($white-color, 0.7);

  &:hover {
    color: $yellow-color;
  }
}

.link-5 {
  @extend .link-2;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
